<!DOCTYPE html>
<html>
  <head>
    <title>CatalogApp</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
      <header class="header clearfix">
        <div class="container">
          <nav>
            <ul class="nav nav-pills float-right">
              <% if logged_in? %>
              <li>
                <%= link_to "Log out", logout_path, method: :delete %>
              </li>
              <% else %>
              <li class="nav-item btn-color">
                <%= link_to 'Login', controller: "sessions", action: "new", :class=> 'nav-link btn btn-login'%>
              </li>
              <% end %>
            </ul>
          </nav>
        <h3 class="text-white"><%= link_to 'Catalog App', {controller: 'categories', action:'index'}, class: "custom-link"%></h3>
        </div>
      </header>

      <div class="container">
      <% flash.each do |message_type, message| %>
        <div class="alert alert-<%= message_type %>"><%= message %></div>
      <% end %>
      <%= yield %>
      
    </div>  
  </body>
</html>
